<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/login.html*" access="isAnonymous()"/>
		<intercept-url pattern="/**" access="hasRole('USER')" requires-channel="https"/>
		<form-login login-page="/login.html" />
		<logout logout-success-url="/index.html"/>
		<csrf disabled="true"/>
		
		<port-mappings>
      		<port-mapping http="8080" https="8443"/>
    	</port-mappings>
	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt"/>
			<user-service>
				<user name="student" password="$2a$10$rw4FZiFAGyZcwpQYFl0PA.B0WiY3dLoO2/5ypZ5VNF.sUyiYN8TZm" authorities="ROLE_USER" />
				<user name="bart" password="$2a$10$83118r21RDrIIBV31byTWOsjPRFvAgMTf.8/FwHKlfGO6eJHxtewK" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>

</beans:beans>